.container {
    height: 350px;
    width: 250px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .iconContainer {
        background-color: lightgray;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: var(--color-primary);
        }
    }

    .info {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        color: var(--color-secondary);
        margin-top: 20px;
    }
}
